---
layout: minimal
title: Youth On The Move
image:
  enabled: true
  src: /assets/images/ttm-26/general.webp
hero:
  subtitle: "Partir. Découvrir. Partager."
  buttons:
    - enabled: true
      text: Explorer les possibilités
      url: "/programmes/"
      target: "_blank"
      icon: "fa-solid fa-plane-departure"
      class: "orange"
      title: "Infor Jeunes Waterloo est membre du réseau Eurodesk"
    - enabled: false
      text: Nous contacter
      url: "https://wa.me/32473953806"
      target: "_blank"
      icon: "fa-brands fa-whatsapp"
      color: "#25d366"
    - enabled: true
      text: Time To Move 2026
      url: "/ttm/"
      target: "_self"
      icon: "fa-solid fa-rocket"
      class: "cobalt-outline"
---
{% assign hero=page.hero%}
{% assign containers=page.containers%}
{%if hero %}
  {% assign hero_buttons = hero.buttons %}
  {% assign subtitle = hero.subtitle %}
  <section class="home-hero">
    <h1>Youth On The <span class="cobalt p-2 rounded">Move</span> !</h1>
    {% if subtitle %}
      <p class="muted">{{subtitle}}</p>
    {% endif %}
    {% if hero_buttons %}
      <div class="hero-contact">
        {% for item in hero_buttons %}
          {%if item.enabled | default: false %}
            {% assign target=item.target | default: self %}
            {% assign class=item.class %}
            {% assign text=item.text%}
            {% assign icon=item.icon%}
            {% assign url=item.url%}
            {% assign title=item.title | default: text %}
            <div class="d-flex justify-content-center gap-1 text-nowrap">
              <a class="{{class}} p-2 rounded" title="{{title}}" href="{{url}}" target="{{target}}">
                <span>{{text}}&nbsp;<i class="{{icon}}"></i></span>
              </a>
            </div>
          {%endif%}
        {%endfor%}
      </div>
    {%endif%}
  </section>
{%endif%}
<div class="sections mt-2 mb-2">
  {% if page.image.enabled %}
    {% assign img=page.image.src %}
    <img src="{{img}}" class="img-fluid">
  {% endif %}
</div>
