---
layout: minimal
title: Infor Jeunes Waterloo
---
{% assign visuels=site.data.ij-visuels%}
<section class="home-hero">
  <h1>Une info <span class="p-2 rounded orange">claire</span> !</h1>
  <!--<p class="subtitle">Orientation, droit, travail ou santé : nous centralisons l'essentiel pour les jeunes à Waterloo (et d'ailleurs).</p>-->
  
  <div class="hero-contact">
    <a class="btn" title="Voir les dernières annonces de job" href="/services/job4u/" target="_self" style="background: #1185fe; border: 4px solid #1185fe">
      <span class="text-white">Jobs étudiant &nbsp;<i class="fa-solid fa-briefcase"></i></span>
    </a>
    <a href="https://yotm.be" title="Hello World! Notre projet relatif à la mobilité internationale des jeunes" class="btn text-white" style="border: 4px solid #3261ac; background: #3261ac">
      Hello World !&nbsp;<i class="fa-solid fa-plane-departure"></i>
    </a>
    <a href="/services/" title="Nos projets et services" class="btn text-white" style="background: #2ca4dd; border: 4px solid #2ca4dd">
      Projets & services&nbsp;<i class="fa-solid fa-rocket"></i>
    </a>
    <!--<a href="https://www.reddit.com/r/inforjeuneswaterloo/submit?flair_id=dde627ac-3e4a-11f1-8547-aa8e8f0f06a6" class="cat-button" style="border: 2px solid #e32423;">
      <i data-lucide="bot"></i>&nbsp;Pose ta question à la communauté
    </a>-->
     <!--<a href="/job4u/" class="cat-button" style="border: 2px solid #f8b700">
      <i class="fa-solid fa-briefcase"></i>&nbsp;
      <span>jobs étudiants</span>
    </a>-->
  </div>
</section>
{% if visuels.size > 0 %}
  <div class="hero-image mb-4">
    <h3 class="text-body-primary mb-4 mt-2">
      Si ça te dit, on t'invite à découvrir nos dernières activités et projets&nbsp;!
    </h3>
    {% if visuels.size == 1 %}
      <!-- 1 seule image : affichage pleine largeur -->
      <img src="{{ visuels.first.image }}" alt="{{ visuels.first.title }}" class="img-fluid rounded w-100">
    {% else %}
      <!-- Plusieurs images : affichage en grille 2 colonnes -->
      <div class="row g-2">
        {% for image in visuels %}
          <div class="col-6">
            <img src="{{ image.image }}" alt="{{ image.title }}" class="img-fluid rounded w-100 h-100 object-fit-cover">
          </div>
        {% endfor %}
      </div>
    {% endif %}
  </div>
{% endif %}
<h3 class="text-body-primary mt-2 mb-4">
  Vu dans la presse
</h3>
  {% actu %}
