{% include snippets/button-home.html url='/' %}
<div class="collapse navbar-collapse" id="navbarNav">
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        {% assign news="/news/" %}
        {% for item in site.collections %}
                {% assign item_url = item.permalink | replace: ":path", "" | replace: ":title", "" | replace: "//", "/" %}
                {% assign collection_label=item.label %}
                {% unless collection_label=='posts' %}
                    <li class="nav-item">
                        <a class="nav-link {% if page.url contains item_url or page.collection == item.label %}active{% endif %}" href="{{ item_url | relative_url }}">
                            {{ item.label | capitalize }}
                        </a>
                    </li>
                {% endunless %}
        {% endfor %}
        <li class="nav-item ">
                        <a class="nav-link {% if page.url contains news %}active{% endif %}" href="{{ news | relative_url }}">
                            L'actu (enfin ce qu'on en a retenu)
                        </a>
                    </li>
    </ul>
</div>