{% assign post_title=include.post_title | default : false %}
{% assign display=include.display | default : true %}
{% if display %}
    <div class="container">
        <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-4">
            {% if page.previous.url %}
                <a class="btn btn-sm btn-outline-secondary previous text-decoration-none text-justify" href="{{ page.previous.url }}">
                    <i class="fa-solid fa-arrow-left"></i>{%if post_title%}&nbsp;{{ page.previous.title }}{%endif%}
                </a>
            {%  endif %}
            {% if page.next.url %}
                <a class="btn btn-sm btn-outline-primary text-decoration-none" href="{{ page.next.url }}">
                {%if post_title%}{{ page.next.title }}&nbsp;{%endif%} <i class="fa-solid fa-arrow-right"></i>
                </a>
            {% endif %}
        </div>
    </div>
{% endif %}
