{% assign categories=include.items %}
{% assign exclude_categories = include.exclude_categories | default: "" %}
{% assign result_posts = "" | split: "|" %}

{% for category in categories %}
    {% if exclude_categories contains category %}
        {% continue %}
    {% endif %}

    {% assign posts_in_category = site.posts | where_exp: "post", "post.categories contains category" %}
    {% for post in posts_in_category %}
        {% assign result_posts = result_posts | push: post %}
    {% endfor %}
{% endfor %}