{% assign download_dir=include.dir %}
{% assign pdf_files = site.static_files | where: "collection", nil | where_exp: "file", "file.path contains download_dir and file.ext == '.pdf'" %}
{% if pdf_files.size > 0 %}
    {% assign sorted_pdfs = pdf_files | sort: "name" | reverse %}
    {% for pdf in sorted_pdfs %}
        {% assign filename_parts = pdf.name | split: '_' %}
        {% assign date_part_with_ext = filename_parts | last %}
        {% assign date_str = date_part_with_ext | replace: ".pdf", "" %}
        {% assign file_date = date_str | date: "%Y-%m-%d" | date: "%d %B %Y" %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span>Archive du {{ file_date }}</span>
              <a href="{{ pdf.path | relative_url }}" download class="btn btn-sm btn-outline-primary">Télécharger <i class="fas fa-download"></i></a>
        </li>
    {% endfor %}
{% else %}
        <li class="list-group-item text-center text-muted">Aucune archive PDF disponible pour le moment.</li>
{% endif %}