{% assign list_type=include.list_type %}
{% assign list_data=include.list_data %}
{% case list_type %}
    {% when 'menu' %}
        {% for item in list_data %}
            <li class="list-group-item bg-light">
                <a class="text-decoration-none text-black" href="{{item.url | relative_url}}">
                    {{item.title}}
                </a>
            </li>
        {% endfor %}
    {% when 'navbar' %}
        {% for item in list_data %}
            {% if item.output and item.label != 'posts' %}
                <li class="nav-item">
                    <a class="nav-link {% if page.url contains item_url or page.collection == item.label %}active{% endif %}" href="{{item.slug | relative_url }}">
                        {{ item.label | capitalize }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
    {% when 'news' %}
        {% assign post_limit=include.limit %}
        {% for item in list_data limit: post_limit | default: 3 %}
            <li class="list-group-item bg-light">
                <a class="text-decoration-none text-black" href="{{item.url | relative_url}}">
                    {{item.title}}
                </a>
            </li>
        {% endfor %}
    {% when 'social' %}
        {% assign class=include.css_class %}
        {% for item in list_data %}
            <div class="p-1">
                <a  type="button" href="{{item.url | relative_url}} " class="{{class}}">
                    <i class="{{item.icon}}"></i>
                </a>
            </div>
        {% endfor %}
{% endcase %}
