{% assign list_type=include.list_type %}
{% assign list_data=include.list_data %}

{% case list_type %}
    {% when 'menu' %}
        {% for item in list_data %}
            <li class="list-group-item bg-light">
                <a class="text-decoration-none text-black" href="{{item.url | relative_url}}">
                    {{item.title}}
                </a>
            </li>
        {% endfor %}
    {% when 'news' %}
        {% assign post_limit=include.limit %}
        {% assign display=include.display %}
        {% case display %}
            {% when 'card' %}
                {% for item in list_data limit: post_limit | default: 3 %}
                    <li class="list-group-item bg-light border-0 ms-0 mb-2">
                        {{item.content}}
                     </li>
                    
                {% endfor %}

            {% else %}
                {% for item in list_data limit: post_limit | default:3 %}
                     <li class="list-group-item bg-light border-0 border-bottom border-bottom-secondary ms-0">
                        <a class="text-decoration-none" href="{{item.url | relative_url}}">
                            {{item.title}}
                        </a>
                     </li>
                {% endfor %}
        {% endcase %}
        {% if button %}
            <a class="btn btn-black text-white text-decoration-none" href=""
        {% endif %}
    {% when 'social' %}
        {% assign class=include.css_class %}
        {% for item in list_data %}
            <div class="p-1">
                <a  type="button" href="{{item.url | relative_url}} " class="{{class}}">
                    <i class="{{item.icon}}"></i>
                </a>
            </div>
        {% endfor %}
    {% when 'services' %}
        {% assign class=include.css_class %} 
        {% assign icon=include.icon %}
        {% for item in list_data %}
            <div class="col">
                <a class="{{class}}" href="{{item.url | relative_url}}">
                    {{item.title}}&nbsp;<i class="{{icon}}"></i>
                </a>
            </div>
        {% endfor %}
            
{% endcase %}
