<footer class="site-footer bg-light">
  <data class="u-url" href="{{ '/' | relative_url }}"></data>
  <div class="container container-fluid">
    <div class="row justify-content-center">
      {% assign homepage_url='/'| relative_url %}
      {% assign logo_ij='/assets/images/logos/ijw-carre-transparent.png' %}
      {% assign img_class='img-fluid' %}
      {% assign blog_posts=site.posts | sort: 'date' | reverse %}
      {% assign footer_nav=site.data.footer_nav %}
      {% assign list_social=site.data.social %}
      {% assign list_jobs=site.jobs %}
      {% assign btn_news=site.buttons.news%}
      <div class="col-12 col-md-3 mb-4 justify-content-center">
        <h6 class="heading">
          Posts
        </h6>
        <ul class="list-group ms-0 W-100">
           {% include 
            flexible-list.html 
            list_type="news" 
            list_data=blog_posts 
            limit=5 
            %}
        </ul>
     </div>
      <div class="col-12 col-md-4 justify-content-center align-items-center">
        {% if page.url contains '/news/' %}
          <H6 class="heading">Jobs étudiants</H6>
          {% include 
            flexible-list.html 
            list_data=list_jobs 
            list_type="news" 
            limit=1 
            display='card' 
            button=formatted_button
          %}
        {% else %}
          <h6 class="heading ms-0">Actualités </h6>
          <ul class="list-group mb-2 ms-0 w-100">
            {% include elements/bsky-embed.html limit=1 custom_style=".border-b{border:none}" %}
          </ul>
        {% endif %}
      </div>
      <div class="col-12 col-md-3 mb-1 justify-content-center align-items-center">
        {% if page.url == homepage_url %}
          <div class="d-flex mt-4">
            {{ site.description | markdownify }}
          </div>
          <div class="d-flex mt-4">
            {% include collabs.html %}
          </div>
        {% else %}
          <img src="{{ logo_ij }}" class="{{ img_class }}">
          <ul class="list-group list-group-horizontal border-0 mt-0">
              {% include navigation/social.html %}
          </ul>
        {% endif %}
      </div>
      <div class="row justify-content-center border-top border-top-secondary">
        <div class="navbar bg-light ">
          <ul class="navbar-nav">
            {% for item in site.data.footer_nav %}
              <li class="nav-item">
                <a class="nav-link text-decoration-none {% if page.url contains item_url or page.collection == item.label %}active{% endif %}" href="{{item.permalink | relative_url}}">
                  {{item.title}}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
