{% assign include.item=posts %}
    <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card h-100">
            {% if post.image %}
                <img src="{{post.image}}" class="card-img-top img-fluid">
            {% endif %}
            <div class="card-body">
                <h5 class="heading">{{ post.title }}</h5>
                {% if post.date %}
                    <p class="post-meta">
                        <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
                            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
                            {{ post.date | date: date_format }}
                        </time>
                    </p>
                {%  endif %}
                <div class="d-flex flex-row-reverse">
                    {%include button.html url=post.url icon=site.data.config.arrow-right class=site.data.config.btn-light %}
                </div>
            </div>
        </div>
    </div>
