<header role="banner">
  {% assign homepage_url='/'|relative_url %}
  {% assign list_pages=site.pages %}
  {% assign list_collections=site.collections %}
  {% assign social_list=site.data.social %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-light-subtle ">
     <div class="container-fluid">
        <a class="navbar-brand" href="{{homepage_url}}">
          <i class="fa-solid fa-house"></i>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        {% include navbar.html %}
        <div class="d-flex justify-content-end">
            {% assign articles_page_url='/articles/' | relative_url %}
            <a class="btn btn-sm btn-outline-dark {% if page.url contains articles_page_url %}active{% endif %}"  href="#" type="button">Contact</a>
        </div>
        {% if page.url==homepage_url %}
          <div class="d-flex flex-row-reverse ms-4">
            {% include flexible-list.html list_data=site.data.social list_type='social' css_class='btn btn-dark' %}
          </div>
        {% endif %}
      </div>
  </nav>
</header>
