<header role="banner">
  {% assign homepage_url='/'|relative_url %}
  {% assign list_collections=site.collections %}
  {% assign social_list=site.data.social %}
  <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-light-subtle ">
     <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
          {% include navigation/navbar.html %}
          {% include navigation/nav-primary-buttons.html %}
      </div>
  </nav>
</header>
