---
layout: default
direction: horizontal
title: Services
permalink: /services/
---
{% assign items=site.services %}
<ul class="list-group list-group-horizontal-md">
    {% if items.size>0 %}
        {% for item in items %}
            <li class="list-group-item text-center">
                <h6 class="heading">
                    <a class="text-decoration-none" href="{{item.url | relative_url}}">
                    {{item.icon.text}}&nbsp;<i class="{{item.icon.fa}}"></i>
                </a>
                </h4>
                
            </li>
        {% endfor %} 
    {% endif %}
</ul>