---
layout: grid
title: Les offres de la semaine
notice: false
social: 
  user: '@job4student'
  link: 'mastodon/@job4student'
pagination:
  enabled: true
  collection: 'jobs' 
  per_page: 3
  permalink: '/jobs/page/:num/' 
  sort_field: 'date'
  sort_reverse: true
---
  {% if paginator.posts.size > 0 %}

     {% for post in paginator.posts %}
      <div class="col">
        {{post.content}}
      </div>
    {% endfor %}
  
  {% else %}
    <p class="muted">Aucun offre de job à afficher.</p>
  {% endif %}
