{% assign logo_ij='/assets/images/logos/ijw-carre-transparent.png'%}
{% include snippets/category-querystring.html category='International' %}
{% assign category='International'%}
{% assign yotm_pages=site.collections.yotm %}
<footer class="site-footer bg-light">
  <data class="u-url" href="{{ '/' | relative_url }}"></data>
  <div class="container container-fluid">
    <div class="row justify-content-center">
      <div class="col-12 col-md-3 mb-4 justify-content-center">
        <ul class="list-group ms-O">

        </ul>
     </div>
      <div class="col-12 col-md-4">
        
      </div>
      <div class="col-12 col-md-3 mb-1 justify-content-center align-items-center">
          <img src="{{logo_ij}}" class="{{ img_class }}">
          <ul class="list-group list-group-horizontal border-0 mt-0">
              {% include navigation/social.html %}
          </ul>
      </div>
    </div>
  </div>
</footer>
