{% assign item=include.item %}
{% assign text=include.text | default: false %}
<a class="text-decoration-none" href="{{item.url | relative_url}}">
    <div class="card h-100 mb-2 p-2">
        {% if item.image %}
            <img src="{{item.image}}" class="card-img-top img-fluid">
        {% endif %}
        <div class="card-body">
            <div class="card-heading mb-2">
                <h5 class="heading">
                    {{ item.title | markdownify }}
                </h5>
                {% if text %}
                    {{content | markdownify }}
                {% endif %}
            </div>
        </div>
    </div>
</a>