<header class="site-header">
  <div class="header-container">
    <a class="site-logo" href="/">
      <img src="{{ site.logo | relative_url }}" alt="Logo">
    </a>
    
    <input type="checkbox" id="menu-toggle" class="menu-checkbox">
    
    <label for="menu-toggle" class="menu-toggle">
      <span class="hamburger"></span>
    </label>
    
    <nav class="main-nav">
      <ul class="nav-list">
        <li><a href="/categories/">Thématiques</a></li>
        </ul>
    </nav>
  </div>
</header>