<header class="site-header">
  <div class="header-container">
    <a class="site-logo" href="/">
      <img src="/assets/images/logos/ijw-banner-transparent.webp" alt="Logo">
    </a>
    
    <input type="checkbox" id="menu-toggle" class="menu-checkbox">
    
    <label for="menu-toggle" class="menu-toggle">
      <span class="hamburger"></span>
    </label>
    
 <body>
  <input type="checkbox" id="theme-switch" class="theme-switch">
  
  <div class="wrapper">
    <nav class="nav-main">
      <a href="/" class="site-title">{{ site.title }}</a>
      <label for="theme-switch" class="switch-label">◐</label>
    </nav>

    <main>
      {{ content }}
    </main>
  </div>
</body>
  </div>
</header>