{% assign post_date = page.date | date: "%d %B %Y" %}
{% assign post_update = page.update| date: "%d %B %Y" | default: page.date %}
{% assign post_author = page.author| default: site.author %}
{% assign author_bio=page.disclaimer.bio %}
{% assign categories=page.categories %}
{% assign source=page.disclaimer.source %}

<div class="d-flex flex-wrap gap-2 text-muted small mt-4 mb-4 border-top pt-2">
  <span class="d-flex align-items-center">
    <i class="fa-solid fa-user me-1"></i>
    &nbsp;<strong>{{ post_author }}</strong>
  </span>&nbsp;
  <span class="d-flex align-items-center">
    <i class="fa-solid fa-calendar me-1"></i>
    &nbsp;<strong>{{ post_date }}</strong>
  </span>&nbsp;
  {% if post_update %}
  <span class="d-flex align-items-center">
    <i class="fa-solid fa-clock-rotate-left me-1"></i>
    &nbsp;<strong>{{ post_update }}</strong>
  </span>&nbsp;
  {% endif %}
  {% if page.categories %}
  <span class="d-flex align-items-center">
    <i class="fa-solid fa-folder me-1"></i>
    &nbsp;
    {% for category in categories %}
      <a href="/categories/{{ category | custom_slugify }}/" class="badge text-bg-secondary ms-1 text-decoration-none">{{ category }}</a>&nbsp;
    {% endfor %}
  </span>&nbsp;
  {% endif %}
  {% if source %}
    <span class="d-flex align-items-center">
      <i class="fa-solid fa-asterisk"></i>&nbsp; 
      <a href="{{source}}" target="_blank">
        {{ source | split: "/" | slice: 2 }}
      </a>
    </span>
  {% endif %}
</div>