{% assign alerts=include.alerts %}
{% assign id=include.id %}
{% for alert in alerts %}
    {%if alert.enabled %}
            <h4 class="display">
                <i class="fa-solid fa-bullhorn"></i>&nbsp; Oyez! Oyez!
            </h4>
        {%break%}
    {%endif%}
{% endfor %}
{% for alert in alerts %}
      {%if alert.enabled%}
        {% if alert.id==id %}
            <div class="col-md-4 ms-0">
            <div class="card mb-2" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="card-header bg-primary text-white">
                        <strong class="me-auto">{{alert.title}}</strong>
                    </div>
                    <div class="card-body">
                        {{ alert.message | markdowinfy }}
                        {% if alert.button.enabled %}
                            <div class="d-flex flex-row-reverse">
                                <div class="p-2">
                                    <a class="btn btn-dark text-white text-decoration-none" href="{{alert.button.link}}">
                                        {{alert.button.text}}&nbsp;<i class="{{alert.button.icon}}"></i>
                                    </a>
                                </div>
                            </div>
                        {%endif%}
                    </div>
            </div>
            </div>
        {%endif%}
      {%endif%}
    {%endfor%}