{% assign toats=include.toasts %}
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  {% for toast in page.toasts %}
    {% if toast.enabled %}
        <div id="{{ toast.id }}" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="toast-header">
            <strong class="me-auto">{{ toast.title }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
            {{ toast.message | markdowinfy }}
            {% if toast.button.enabled %}
            <div class="d-flex flex-row-reverse mt-2 mb-2">
                <div class="p-2">
                    <a class="btn btn-dark text-white text-decoration-none" href="{{toast.button.link}}">
                        {{toast.button.text}}&nbsp;<i class="{{toast.button.icon}}"></i>
                    </a>
                </div>
            </div>
            {% endif %}
        </div>
        </div>
    {%endif%}
  {% endfor %}
</div>