{% assign display=include.display ¬ default: false %}
{% assign collection=include.collection %}
<div class="container mb-4">
    <div class="row justify-content-center">
        {%for item in collection %}
            <div class="col-sm-6 col-md-4">
                <a class="btn btn-light text-decoration-none {%if item.url==page.url %}active{%endif%} mt-2"
                    href="{{item.url|relative_url}}">
                        {{item.title}}
                </a>
            </div>
        {%endfor%}
    </div>       
</div>