---
layout: yotm/fw
---
<!--<h1>Catégorie : {{ page.category | capitalize }}</h1>-->
{% assign show_sidebar=page.sidebar | defaut:true %}
  {% include snippets/category-querystring.html %}
  {% if res>0 %}
    <div class="row">
      <div class="col-md-8 p-2">
        <div class="row">
          {% for post in posts_in_category %}
            <div class="col-md-4 mb-2"> 
              {%include elements/card.html item=post %}
            </div>
          {% endfor %}
        </div>
      </div>
      {%if show_sidebar %}
        <div class="col-md-4 border-start border-light-subtl">
          {% include sidebar/sidebar.html news=false exclude_current_category=true %}
        </div>
      {%endif%}
    </div>
  {% endif %}
