---
layout: minimal
---
<header class="post-header">
    <div class="category-view mb-2">
      <a href="{{ '/' | relative_url }}" onclick="history.back(); return false;" class="back-link">
      &leftarrow; &nbsp; Retour
    </a>
    </div>
    <div class="service-title-section mb-2">
       <h1 class="post-title lh-sm">{{ page.title }}</h1>
    </div>
      <div class="section mb-2">
        {% if page.subtitle %}
          <p class="muted">
            {{page.subtitle}}
          </p>
        {% endif %}
      </div>
  </header>

<div class="category-nav">
  {% assign sorted_categories = site.categories | sort %}
  {% assign posts=site.posts | sort: 'date' | reverse %}
  {% assign categories=site.categories %}

  {% comment %} 
     On parcourt toutes les catégories pour créer un bouton par catégorie.
  {% endcomment %}
  {% for category in sorted_categories %}
    {% assign cat_name = category | first %}
    {% assign cat_slug = cat_name | custom_slugify %}
    {% assign posts_count = category | last | size %}
    
    {% comment %} 
       On récupère la couleur dans _data/categories.yml via le slug.
       Si absent, on utilise une couleur grise par défaut.
    {% endcomment %}
    {% assign hex = site.data.categories[cat_slug] | default: site.data.categories.default %}

    <a href="{{ '/categories/' | append: cat_slug | append: '/' | relative_url }}" 
       class="btn" 
       style="border: 1px solid #{{ hex }};">
      <span class="cat-name">{{ cat_name }}</span>
      
      <span class="badge rounded-pill" style="background: #{{ hex }}">
        {{ posts_count | default: 0 }}
      </span>
    </a>
  {% endfor %}
  <div class="posts-list mt-2">
    <nav class="category-nav">
      {% if posts.size >0 %}
        {% assign post_categories = post.categories | map: "downcase" %}
        {% for post in posts %}
            <a href="{{ post.url | relative_url }}" class="cat-button" style="--c: #{{ border_color }};">
              <i data-lucide="chevron-right"></i>&nbsp;<span class="cat-name">{{ post.title}}</span>
            </a>
        {% endfor %}
      {%endif%}
    </nav>
  </div>
</div>