<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'fr' }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>      
    </main>
    <div class="container container-fluid">
      {% if page.categories %}
      <div class="row mb-2">
            <h4 class="display">A lire également</h4>
            {% include navigation/related_contents.html items=page.categories %}
            {%assign items=result_posts|sample:3%}
            {%for post in items%}
                <div class="col-md-4">
                  {% include elements/card.html item=post%}
                </div>
            {%endfor%}
      </div>
      {% endif %}
    </div>
    {%- include footer.html -%}

    {%- include sub-footer.html -%}
    

  </body>

</html>
