<!DOCTYPE html>
{% assign section=page.section | default: 'default'%}
<html lang="{{ page.lang | default: site.lang | default: 'fr' }}">

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
      </div>      
    </main>
    <div class="container container-fluid">
      {% if page.categories%}
        {% include navigation/posts-by-cat.html %}
      {% endif %}
    </div>
    {%- include footer.html -%}

    {%- include sub-footer.html -%}
    

  </body>

</html>
