---
layout: default
---

<article class="post">
  <header class="post-header mb-4">
    <h1 class="post-title ms-2">{{ page.title | escape }}</h1>
    <p class="post-meta text-muted">
      <time datetime="{{ page.date | date_to_xmlschema }}">
        Publié le {{ page.date | date: "%d %b %Y à %H:%M" }}
      </time>
      {% if page.bluesky_thread_url %}
        <span class="bluesky-link ms-2">
          &bull; <a href="{{ page.bluesky_thread_url }}"  target="_blank" class="text-decoration-none">Voir le thread original sur Bluesky</a>
        </span>
      {% endif %}
    </p>
  </header>
  <div class="post-content">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="card h-100">
                    {%  for post in page.thread_posts %}
                        {% if post.is_root %}
                            {% assign image=post.external_link.thumb %}
                            {% assign source=post.external_link.uri %}
                            <img src="{{ image }}" clas="card-img-top img-fluid rounded" loading="lazy">
                        {% endif %}
                    {% endfor %}
                    <div class="card-body">
                        {{page.description | markdownify}}
                    </div>
                    <div class="mt-auto p-2 text-end">
                        <a href="{{ source }}" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-outline-primary">Lire l'article original</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% if page.thread_posts.size > 1 %}
      <h2 class="mt-4 mb-3 display ms-2">A lire également</h2>
      <div class="container mt-4">
        <div class="row">
          {% for post in page.thread_posts %}
            {% unless post.is_root %} 
              <div class="col-12 col-sm-6 mb-4">
                <div class="card h-100">
                  {% if post.external_link.thumb %}
                          <img src="{{ post.external_link.thumb }}" alt="{{ image.alt | default: 'Image Bluesky' }}" class="img-fluid card-img-top" loading="lazy">
                    {% endif %}
                  <div class="card-body p-2">
                      <div class="card-body">
                          {{ post.text | markdownify }}
                      </div>
                  </div>

                    {% if post.quoted_post %}
                      <blockquote class="blockquote bg-light border-start border-4 border-secondary p-3 mt-3 mb-0 rounded">
                        <p class="mb-1 fst-italic">"{{ post.quoted_post.text }}"</p>
                        <footer class="blockquote-footer">Citation par <cite title="Source Title">@{{ post.quoted_post.author_handle }}</cite></footer>
                        <a href="{{ post.quoted_post.url }}" target="_blank" rel="noopener noreferrer" class="text-decoration-none small">Voir le post cité</a>
                      </blockquote>
                    {% endif %}

                    <div class="mt-auto p-2 text-end">
                      <a href="{{ post.external_link.uri }}" target="_blank" rel="noopener noreferrer" class="btn btn-sm btn-outline-primary">Lire l'article original</a>
                    </div>

                  </div>
              </div>
            {% endunless %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </div>
</article>