---
layout: fw
---
{% assign contact_ij=site.data.contact-ij %}
{% assign contact_yotm=site.data.contact-yotm%}
<div class="row">
    <div class="col-sm-12 col-md-8 mb-2">
        <form action="https://airform.io/info@inforjeuneswaterloo.be" method="POST">
  
            <div class="mb-3 mt-O">
                <label for="name" class="form-label">Nom et Prénom</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>

            <div class="mb-3">
                <label for="email" class="form-label">Adresse Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="nom.prenom@exemple.com" required>
                <div id="emailHelp" class="form-text">Nous ne partagerons jamais votre email.</div>
            </div>

            <div class="mb-3">
                <label for="message" class="form-label">Votre Message</label>
                <textarea class="form-control" id="message" name="message" rows="5" required></textarea>
            </div>

            <input type="hidden" name="_subject" value="Nouveau Contact depuis le site">
            
            <input type="hidden" name="_redirect" value="https:/inforjeuneswaterloo.be/merci/">

            <button type="submit" class="btn btn-primary">
                <i class="bi bi-send-fill me-2"></i> Envoyer le message
            </button>
  
        </form>
    </div>
    <div class="col-sm-12 col-md-4 mt-4 mb-2">
        <ul class="list-group list-group-flush card rounded mb-2">
            {% for item in contact_ij %}
                <li class="list-group-item d-flex justify-content-between align-items-center">
                    {{item.text}}
                </li>
            {% endfor %}
        </ul>
    </div>
</div>




