---
layout: page
---
{% assign contact=site.data.contact %}
<ul class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center">
        <i class="{{contact.adresse.icon}}"></i>&nbsp;{{contact.adresse.location}}
    </li>
    <li class="list-group-item d-flex justify-content-between align items-center">
        <i class="{{contact.horaire.icon}}"></i>&nbsp;{{contact.horaire.open}}
    </li>
    <li class="list-group-item d-flex justify-content-between align items-center">
        <i class="{{contact.tel.icon}}"></i>&nbsp;{{contact.tel.number}}
    </li>
    <li class="list-group-item d-flex justify-content-between align items-center">
        <i class="{{contact.mail.icon}}"></i>&nbsp;{{contact.mail.mailto}}
    </li>
</ul>


