---
layout: minimal
---
{% assign contact_ij = site.data.contact-ij %}
{% assign color = page.color | default: 'e67c22' %}
{% assign icon = page.lucide | default: 'rocket' %}
{% assign action = page.action  | default: 'info@inforjeuneswaterloo.be'%}


<article class="post-container" style="--c: #{{color}}">
    <header class="post-header">
        <div class="category-view">
            <a href="{{ '/' | relative_url }}" onclick="history.back(); return false;" class="back-link">
                &leftarrow; &nbsp; Retour
            </a>
        </div>
        <div class="service-title-section">
            <h1 class="post-title" style="color: #{{color}}">{{ page.title }}</h1>
        </div>
    </header>
    <form action="https://airform.io/{{action}}" method="POST">
        <div class="mb-3">
            <label for="name">Prénom, nom, pseudo...</label>
            <input type="text" id="name" name="name" placeholder="John Doe" class="form-control">
        </div>
        <div class="mb-3">
            <label for="email" class="form-label">Ton email<sup>*</sup></label>
            <input type="email" class="form-control" id="email" name="name" aria-describedby="emailHelp" required placeholder="john.doe@example.com">
            <div id="emailHelp" class="form-text">L'adresse mail n'est pas partagée ou utilisée à d'autre fin que celle de pouvoir te contacter</div>
        </div>
        <div class="mb-3">
            <label for="message" class="form-label">Ton message<sup>*</sup></label>
            <textarea class="form-control" id="message" name="message" rows="6" required></textarea>
        </div>
        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="consentement" name="consentement" required>
            <label class="form-check-label" for="consentement">J'accepte qu'Infor Jeunes Waterloo utilise mes données afin de me contacter<sup>*</sup></label>
        </div>
        <button type="submit" class="cobalt p-2 rounded">Envoyer&nbsp;<i data-lucide="send"></i></button>
    </form>
</article>