---
layout: minimal
---
{% assign telechargements=site.data.downloads %}
{% if telechargements.size > 0 %}
<article class="post-container" style="--c: #{{ page.color | default: '2c3e50' }};">
  <header class="post-header">
    <div class="category-view mb-2">
      <a href="{{ '/' | relative_url }}" onclick="history.back(); return false;" class="back-link">
      &leftarrow; &nbsp; Retour
    </a>
    </div>
    <div class="service-title-section mb-2">
       <h1 class="post-title lh-sm">{{ page.title }}</h1>
    </div>
  </header>
<ul class="list-group list-group-flush mt-2 mb-2">
  {% for item in telechargements %}
    {% assign target_cat = item.categories | first | default: col_name | custom_slugify %}
    {% assign cat_info = site.data.categories | where: "name", target_cat | first %}
    {% assign raw_color = cat_info.color | default: "6c757d" %}
    {% assign border_color = raw_color | replace: '#', '' %}
    {% assign post_type=item.type | default: 'text' %}
    {%assign title=item.title%}
    {%assign link=item.link%}
    {%assign url=item.url|relative_url%}
    {%assign target=item.target|default:'_blank'%}
    {% assign descri=item.descri | default: title %}
    {% assign author=item.author | default: site.author.name %}
      <li class="list-group-item d-flex justify-content-between mb-3 align-items-end" style="background: #f4f1ea">
        <div class="ms-2 me-auto">
          <div class="fw-bold">
            {{title}}
          </div>
          <p class="fs-6">{{descri}}<br/>{{author}}</p>
        </div>
        <span>
          <a class="btn btn-dark text-white" title="{{descri}}" href="{{ link }}" style="--c: #{{ border_color }};">
            <i class="fa-solid fa-download"></i>
          </a>
        </span>
      </li>
  {% endfor %}
</ul>
{% endif %}