---
layout: page
---
{% assign is_alert=page.is_alert | defaut: false  %}
{% assign date_start=page.date.start %}
{% assign date_end=page.date.end | default: start %}
{% assign time_start=page.time.start %}
{% assign time_end=page.time.end %}
{% assign location_title=page.location.title %}
{% assign location_adresse=page.location.adresse %}
{% assign collabs=page.collab %}

<div class="row justify-content-center">
    <div class="col-6 p-2">
        <div class="card">
            <div card-body class="p-2">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                       <i class="{{page.date.icon}}"></i>&nbsp;{{date_start}} - {{date_start}}
                    </li>
                </ul>
                {{ content }}
            </div>
            {% if page.social %}
                <div class="d-flex flex-row-reverse">
                    {% for item in page.social %}
                        <div class="p-2">
                            <a class="btn btn-dark"href="{{ item.link }}" target="_blank">
                                {{item.name}}&nbsp;<i class="{{item.icon}}"></i>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
            {% if page.image %}
                <img src="{{page.image}}" class="img-fluid card-img-top p-2">
            {% endif %} 
    </div>
    {% include navigation/post-nav.html %}
</div>
<div class="row justify-content-center mt-2 mb-4">
    <div class="container">
        {% include yotm/navigation/post-sub-nav.html  display=true collection=site.yotm %}
    </div>
</div>

