---
layout: fw
---
<div class="header">
    <h1 class="page-heading">{{ page.title }}</h1>
</div>
<div class="container container-fluid mb-2">
    <div class="row">
        {% if page.display_content %}
            {% for post in paginator.posts %}
              <div class="col-md-4">
                {{post.content}}
              </div>
            {% endfor %}
        {% else %}
            {%if paginator.posts %}
                {% for post in paginator.posts %}
                    <div class="col-md-4">
                        {% include elements/card.html item=post text=post.excerpt %}
                    </div>
                {% endfor %}
            {%else%}
                    {{content}}
            {%endif%}
        {% endif %}
    </div>
</div>
{% if paginator.total_pages > 1 %}
    <div class="d-flex justify-content-center mb-2 mt-2">
        {% include pagination.html pagination=paginator %}
    </div>
{% endif %}
