---
layout: fw
---
{% assign collabs=page.collabs%}
{% assign id=page.id %}
{% assign list_social=site.data.social %}
{% assign jumbotron_img=page.image %}
{% assign  buttons=page.buttons %}
{% assign moto=page.moto %}
{% assign curren_url=page.url %}
<div class="container mb-2 mt-2">
  <div class="jumbotron jumbotron-fluid p-2">
    <div class="row align-items-center">
      <div class="col-12 col-sm-6 col-md-4">
        <img class="img-fluid" src="{{jumbotron_img}}" >
      </div>
      <div class="col-12 col-md-8">
          <h1 class="display-4">{{moto}}</h1>
            {% if page.buttons %}
              <div class="d-flex justify-content-center">
                {% include elements/buttons.html %}
              </div>
            {%endif%}
            <div class="d-flex flex-row-start">
            {% include flexible-list.html list_data=list_social list_type="social" css_class="btn btn-outline-dark" %}
          </div>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    {%assign alerts=site.data.toasts %}
    {%include elements/toasts.html alerts=alerts id=page.id%}
  </div>
  {%if collabs%}
    <div class="d-flex justify-content-center aligin-items-centetr">
      {%case collabs%}
      {%when 'yotm'%}
         {% for image in site.data.yotm.collabs %}
          {% assign image=site.data.yotm.collabs.image %}
            <div class="p-2">
              <img class="img-fluid" src="{{image.image}}">
            </div>
        {% endfor %}
      {%endcase%}
    </div>
  {%endif%}
</div>