---
layout: fw
---
{% assign collabs=page.collabs%}
{% assign list_social=site.data.social %}
{% assign jumbotron_img=page.image %}
{% assign  buttons=page.buttons %}
{% assign moto=page.moto %}
{% assign curren_url=page.url %}
<div class="container mb-2 mt-2">
  <div class="jumbotron jumbotron-fluid p-2">
    <div class="row align-items-center">
      <div class="col-12 col-sm-6 col-md-4">
        <img class="img-fluid" src="{{jumbotron_img}}" >
      </div>
      <div class="col-12 col-md-8">
          <h1 class="display-4">{{moto}}</h1>
            {% if page.buttons %}
              <div class="d-flex flex-row-start mb-4">
                {% include elements/buttons.html %}
              </div>
            {%endif%}
            <div class="d-flex flex-row-start">
            {% include navigation/social.html flex='d-flex' %}
          </div>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    {% assign actu_posts = site.posts | where_exp: "post", "post.categories contains 'Actu du Centre'" | sort: "date" | reverse | slice: 0, 4 %}
    {%if actu_posts.size > 0 %}
      <h5 class="display"><i class="fa-solid fa-bullhorn"></i>&nbsp;Oyez! Oyez!</h5>
      {% for post in actu_posts %}
        {% assign enabled=post.enabled | default: true %}
          {% if enabled %}
            <div class="col col-md-3">
              <div class="card mb-2 p-1">
                <img src="{{post.image}}" class="card-img-top">
                <div class="header mt-0 p-2 rounded-bottom">
                  <strong class="me-auto">{{post.title | markdownify }}</strong>
                </div>
                <div class="card-body">
                  <div class="d-flex flex-row-reverse">
                    <a class="btn btn-dark btn-sm text-white text-decoration-none" href="{{post.url | relative_url}}">
                        En savoir plus&nbsp;<i class="fa-solid fa-chevron-right"></i>
                      </a>
                  </div>
                </div>
              </div>
            </div>
          {%endif%}
      {%endfor%}
    {%endif%}
  </div>
  {%if collabs%}
    <div class="d-flex justify-content-center aligin-items-centetr">
      {%case collabs%}
      {%when 'yotm'%}
         {% for image in site.data.yotm.collabs %}
          {% assign image=site.data.yotm.collabs.image %}
            <div class="p-2">
              <img class="img-fluid" src="{{image.image}}">
            </div>
        {% endfor %}
      {%endcase%}
    </div>
  {%endif%}
</div>