---
layout: fw
---
{% assign collabs=page.collabs%}
{% assign list_social=site.data.social %}
{% assign jumbotron_img=page.image %}
{% assign  buttons=page.buttons %}
{% assign moto=page.moto %}
{% assign current_url=page.url %}
{% if page.url=='/' %}
  {% assign bluesky_feed = site.data.bluesky_posts.posts %}
  {% assign bluesky_top_skeet= site.data.bsky_posts_pinned %}
{% elsif page.url=='/yotm/'%}
  {% assign bluesky_feed = site.data.bluesky_yotm_posts.posts%}
{%endif%}
{% assign bluesky_job_feed = site.data.bluesky_job_posts.posts%}
<div class="container mb-2 mt-2">
  <div class="jumbotron jumbotron-fluid p-2">
    <div class="row align-items-center">
      <div class="col-12 col-sm-6 col-md-4">
        <img class="img-fluid" src="{{jumbotron_img}}" >
      </div>
      <div class="col-12 col-md-8">
          <h1 class="display-4">{{moto}}</h1>
          <div class="row">
            <div class="col-sm-12 col-md-6">
              {% if page.buttons %}
              <div class="d-flex flex-row-start mb-4">
                {% include elements/buttons.html %}
              </div>
              {%endif%}
              {% if page.url == '/' %}
                {% if bluesky_job_feed | size > 0 %}
                  {% assign jobs=bluesky_job_feed | slice: 0,3 %}
                  <div class="list-group">
                    {% for job in jobs %}
                       {% assign post_record = job.record %}
                       {% assign post_external = job.embed.external %}
                        <a href="{{post_external.uri}}" target="_blank" class="list-group-item list-group-item-action">
                          <div class="d-flex w-100 justify-content-between">
                            <small>{{post_record.text}}</small>
                          </div>
                          <small class="text-muted">Publié le : {{ post_record.created_at_localized | default: post_record.createdAt | date: "%d %b %Y" }}</small>
                        </a>
                    {%endfor%}
                  </div>
                  <div class="d-flex flex-row-start mt-2 mb-2">
                    <a class="btn btn-lg btn-primary text-white text-decoration-none" href="/jobs4u/" target="_self">
                      Les dernières offres de job&nbsp;<i class="fa-solid fa-arrow-right"></i>
                    </a>
                  </div>
                {% endif %}
              {% endif %}
            </div>
            <div class="col-sm-12 col-md-6">
              {% if page.url =='/' %}
                {% if bluesky_top_skeet| size > 0 %}
                  {% include snippets/bsky-top-post.html bsky=site.data.bsky_posts_pinned.posts %}
                {% endif %}
              {% endif %}
            </div>
          </div>
      </div>
    </div>
  </div>
  <div class="row mb-4">
    {%if bluesky_feed | size > 0 %}
      <h5 class="display"><i class="fa-solid fa-bullhorn"></i>&nbsp;Oyez! Oyez!</h5>
      {% if page.url == '/' %}
        {%include snippets/bsky-feed.html bsky=site.data.bluesky_posts.posts limit=5%}
      {% elsif page.url=='/yotm/' %}
        {% include snippets/bsky-feed.html bsky=site.data.bluesky_yotm_posts.posts limit=5 %}
      {% endif %}
    {%endif%}
  </div>
  {%if collabs%}
    <div class="d-flex justify-content-center aligin-items-centetr">
      {%case collabs%}
      {%when 'yotm'%}
         {% for image in site.data.yotm.collabs %}
          {% assign image=site.data.yotm.collabs.image %}
            <div class="p-2">
              <img class="img-fluid" src="{{image.image}}">
            </div>
        {% endfor %}
      {%endcase%}
    </div>
  {%endif%}
</div>