---
layout: minimal
title: Le coin des petites annonces
---
<section class="home-hero">
    <h1>{{page.title}}</h1>
    <p class="subtitle">
        {{page.subtitle}}
    </p>
</section>
<div class="jobs-section-wrapper">
   {% assign include=page.include %}
   {% case include %}
        {% when 'job'%}
            {% assign latest_jobs = site.data.bluesky_job_posts.posts | limit: 5 %}
            {%include jobs.html var=latest_jobs %}
        {% when 'actu' %}
            {% mastodon_feed %}
   {% endcase %}
</div>