---
layout: minimal
title: Infor Jeunes Waterloo
---
<section class="home-hero">
  <h1>Besoin d'une info <span class="highlight">claire</span> ?</h1>
  <!--<p class="subtitle">Orientation, droit, travail ou santé : nous centralisons l'essentiel pour les jeunes à Waterloo (et d'ailleurs).</p>-->
  
  <div class="hero-contact">
  <a class="cat-button" href="https://wa.me/32473953806">
    <i data-lucide="phone"></i>&nbsp;
    <span>0473/95 38 06</span>
  </a>

  <a href="/contact/" class="cat-button">
    <i data-lucide="send"></i>&nbsp;
    <span>Nous écrire</span>
  </a>

  <div class="cat-button">
    <i data-lucide="map-pin"></i>&nbsp;
    <span>Rue Théophile Delbar, 18A - 1410 Waterloo</span>
  </div>
</div>
</section>
<div class="home-cta-triangle">
  <div class="cta-row-top">
    <a href="/job4u/" class="btn-main btn-jobs">
      <i data-lucide="briefcase"></i>
      <span>Les dernières offres de jobs étudiants</span>
    </a>
  </div>

  <div class="cta-row-bottom">
    <a href="#hub" class="btn-main btn-info">
      <i data-lucide="book-open"></i>
      <span>Zone info</span>
    </a>
    <a href="/services/" class="btn-main btn-projets">
      <i data-lucide="rocket"></i>
      <span>Projets & Services</span>
    </a>
  </div>
</div>
