---
layout: minimal
title: Infor Jeunes Waterloo
---
<section class="home-hero">
  <h1>Besoin d'une info <span class="highlight">claire</span> ?</h1>
  <!--<p class="subtitle">Orientation, droit, travail ou santé : nous centralisons l'essentiel pour les jeunes à Waterloo (et d'ailleurs).</p>-->
  
  <div class="hero-contact">
  <a class="cat-button">
    <i data-lucide="phone"></i>&nbsp;
    <span>0473/95 38 06</span>
  </a>

  <a href="mailto:info@exemple.be" class="cat-button">
    <i data-lucide="send"></i>&nbsp;
    <span>Nous écrire</span>
  </a>

  <div class="cat-button">
    <i data-lucide="map-pin"></i>&nbsp;
    <span>Rue Théophile Delbar, 18A - 1410 Waterloo</span>
  </div>
</div>
</section>