---
layout: minimal
title: Infor Jeunes Waterloo
---
<section class="home-hero">
  <h1>Besoin d'une info <span class="highlight">claire</span> ?</h1>
  <!--<p class="subtitle">Orientation, droit, travail ou santé : nous centralisons l'essentiel pour les jeunes à Waterloo (et d'ailleurs).</p>-->
  
  <div class="hero-contact">
    <a class="cat-button" href="https://wa.me/32473953806" style="border: 2px solid #25D366">
      <i data-lucide="messages-square"></i>&nbsp;
      <span>WhatsApp</span>
    </a>
    <a href="https://www.reddit.com/r/inforjeuneswaterloo/submit?flair_id=dde627ac-3e4a-11f1-8547-aa8e8f0f06a6" class="cat-button" style="border: 2px solid #e32423;">
      <i data-lucide="bot"></i>&nbsp;Pose ta question à la communauté
    </a>
  </a>
</section>
<div class="home-cta-triangle">
  <div class="cta-row-top">
    <a href="/job4u/" class="btn-main btn-jobs">
      <i data-lucide="briefcase"></i>
      <span>Les dernières offres de jobs étudiants</span>
    </a>
  </div>

  <div class="cta-row-bottom">
    <a href="/posts/" class="btn-main btn-info">
      <i data-lucide="book-open"></i>
      <span>Zone info</span>
    </a>
    <a href="/services/" class="btn-main btn-projets">
      <i data-lucide="rocket"></i>
      <span>Projets & Services</span>
    </a>
  </div>
</div>
{% mastodon_pinned %}
