---
layout: base
---
{% assign draft=page.draft | default: false %}
{%unless draft %}
<div class="header">
    <h1 class="page-heading">{{ page.title | escape | markdownify }}</h1>
</div>
<article class="post">

  <div class="post-content">
    {{ content }}
  </div>
<div class="d-flex flex-row-reverse mt-2">
      {% include elements/buttons.html %}
 </div>
 {% include navigation/post-nav.html %}
</article>
{% if page.collection %}
  {% assign current_url = page.url | remove_first: '/' %}
  {% assign collection_name = page.collection %}
  {% assign collection = site[collection_name] %}
  <div class="container p-3 mt-4 mb-2">
      {% if collection and collection_name != 'posts' %}
        <h6 class="display">Dans la même collection</h6>
        <ul class="list-group list-group-flush card rounded">
        {% for item in collection %}
          {% assign item_url = item.url | remove_first: '/' %}
          {% unless item_url == current_url %}
            <li class="list-group-item d-flex justify-content-between align-items-center">
              <span><h6 class="display">{{ item.title }}</h6></span>
              <a class="btn btn-light text-decoration-none" href="{{ item.url | relative_url }}">
                <i class="fa-solid fa-arrow-right"></i>
              </a>
            </li>
          {% endunless %}
        {% endfor %}
        </ul>
      {% endif %}
  </div>
{% endif %}
{% endunless %}

