---
layout: minimal
---
{% assign page_color=page.color | default: "2c3e50" %}
{% assign message=page.message %}
{% assign buttons=page.buttons %}
{% assign color=page.color | default: 'e67c2' %}
{% assign buttons=page.buttons.btn %}
{% assign header = page.header %}

<article class="post-container" style="--c: #{{ page_color }};">
 <header class="post-header">
    <div class="category-view mb-2">
      <a href="{{ '/' | relative_url }}" onclick="history.back(); return false;" class="back-link">
      &leftarrow; &nbsp; Retour
    </a>
    </div>
    <div class="service-title-section mb-2">
       <h1 class="post-title lh-sm">{{ page.title }}</h1>
    </div>
    {% if header %}
      <div class="section mb-2">
        {% assign message = header.message %}
        {% assign button = header.btn %}
        {% assign message_enbaled=message.enable | default: true %}
        {% assign button_enabled=button.enable %}
        {%if message_enabled %}
            <p class="muted">
              <i data-lucide="{{message.icon}}"></i>&nbsp;{{message.text}}
            </p>
       {%endif%} 
      </div>
    {%endif%}
  </header>

  <section class="post-content">
    {{ content }}
  </section>
  {% if page.buttons %}
      <div class="cta-wrapper" style="margin: 2rem 0; display: flex;">
        {% include buttons.html items=buttons color=color %}
      </div>
    {%endif%}
  <footer class="post-footer">
    {% comment %} NAVIGATION FOOTER (Rappel des suggestions) {% endcomment %}
    {% assign total_items = site[page.collection] | size %}
    {% if total_items > 1 %}
      <div class="related-services">
        <h2 class="footer-title">Dans la même collection</h2>
        <div class="category-nav">
          {% for item in site[page.collection] %}
            {% unless item.url == page.url %}
              {% assign color=item.color %}
              <a href="{{ item.url | relative_url }}" class="cat-button" style="border: 1px solid #{{color}}">
                <i data-lucide="{{ item.lucide | default: 'circle' }}" style="color: #{{color}}"></i>&nbsp;
                <span class="cat-name">{{ item.title }}</span>
              </a>
            {% endunless %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </footer> 
</article>