---
layout: base
---
{% assign draft=page.draft | default: false %}
{%unless draft %}
<div class="header">
    <h1 class="page-heading">{{ page.title | escape | markdownify }}</h1>
</div>
<article class="post">

  <div class="post-content">
    {{ content }}
  </div>
<div class="d-flex flex-row-reverse mt-2">
      {% include elements/buttons.html %}
 </div>
{% if page.show_post_nav %}
  {% include navigation/post-nav.html post_title=page.show_post_title %}
{% endif %}
</article>
{% if page.collection %}
  {% assign current_url = page.url | remove_first: '/' %}
  {% assign collection_name = page.collection %}
  {% assign collection = site[collection_name] %}
  <div class="container p-3 mt-4 mb-2">
      {% if collection and collection_name != 'posts' %}
        <div class="d-flex justify-content-center">
        {% for item in collection %}
          {% assign item_url = item.url | remove_first: '/' %}
          {% unless item_url == current_url %}
            <div class="p-2">
              <a class="btn btn-light text-decoration-none" href="{{ item.url | relative_url }}" target="_self" title="{{item.title}}">
                <i class="{{item.icon.fa}}"></i>
              </a>
            </div>
          {% endunless %}
        {% endfor %}
        </ul>
      {% endif %}
  </div>
{% endif %}
{% endunless %}

