---
layout: minimal
---
{% assign page_color=page.color | default: "2c3e50" %}
{% assign buttons=page.buttons %}
{% assign color=page.color | default: 'e67c2' %}
{% assign post_type=page.type | default: 'text'%}

<article class="post-container" style="--c: #{{ page_color }};">
 <header class="post-header">
    <div class="category-view mb-2">
      <a href="{{ '/' | relative_url }}" onclick="history.back(); return false;" class="back-link">
      &leftarrow; &nbsp; Retour
    </a>
    </div>
    <div class="service-title-section mb-2">
       <h1 class="post-title lh-sm">{{ page.title }}</h1>
    </div>
      <div class="section">
        {% if page.accroche %}
          <p class="muted">
            {{page.accroche}}
            {% case post_type %}
              {% when'audio' %}
                &nbsp; <i class="fa-solid fa-headphones"></i>
              {% when'video' %}
                &nbsp; <i class="fa-regular fa-circle-play"></i>
              {% else %}
                &nbsp; <i class="fa-solid fa-feather-pointed"></i>
            {% endcase %}
          </p>
        {% endif %}
      </div>
  </header>
  <section class="post-content mt-0">
    {{ content }}
  </section>
  <footer class="post-footer">
    {% comment %} NAVIGATION FOOTER (Rappel des suggestions) {% endcomment %}
    {% assign total_items = site[page.collection] | size %}
    {% if total_items > 1 %}
      <div class="related-services">
        <h2 class="footer-title">Dans la même collection</h2>
        <div class="category-nav">
          {% for item in site[page.collection] %}
            {% unless item.url == page.url %}
              {% assign color=item.color %}
              <a href="{{ item.url | relative_url }}" class="btn" style="border: 1px solid #{{color}}">
                <i data-lucide="{{ item.lucide | default: 'circle' }}" style="color: #{{color}}"></i>&nbsp;
                <span class="cat-name">{{ item.title }}</span>
              </a>
            {% endunless %}
          {% endfor %}
        </div>
      </div>
    {% endif %}
  </footer> 
</article>