---
layout: page-single
---
{% assign category_name = page.categories | first %}
{% assign slug = category_name | custom_slugify %}
{% assign cat_color = site.data.categories[slug] | default: site.data.categories.default %}


<article class="post-container" style="--c: #{{ cat_color }};">
  <section class="post-content">
    {{ content }}
  </section>

  <footer class="post-footer">
    <div class="category-view mb-2">
      <a href="{{ '/' | relative_url }}" onclick="history.back(); return false;" class="back-link">
      &leftarrow; &nbsp; Retour
    </a>
    </div>
  </footer>
</article>