---
layout: minimal
---
<h1 style="font-family: var(--font-main); font-weight: 400; margin-bottom: 2rem; opacity: 0.8;">
  {{page.title}}
</h1>
{% assign services = site.services %}
<div class="category-nav">
  {% for service in services %}
    {% assign hex = service.color | default: "888888" %}
    {% assign icon = service.lucide | default: "rocket" %}
  <a href="{{ service.url | relative_url }}" 
     class="cat-button" style="border: 1px solid  #{{hex}}">
       <i data-lucide="{{ icon }}" style="color: #{{hex}}"></i>&nbsp; 
    <span class="cat-name">{{ service.title }}</span>
  </a>
  {% endfor %}
</div>